export(CenterData)
export(ConversionTableForMunicipalities)
export(ConvertGADMPosition2Region)
export(ConvertGADMResolution)
export(ConvertMMLToRData)
export(ConvertMunicipalityCodes)
export(ConvertMunicipalityNames)
export(FindProvince)
export(GenerateMapColours)
export(GetAllAanestykset)
export(GetApurahat)
export(GetEdustajaData)
export(GetEdustajanAanestykset)
export(GetElectedCandidates)
export(GetElectionResultsPresidentti2012)
export(GetGADM)
export(GetGeocodeGoogleMaps)
export(GetGeocodeOpenStreetMap)
export(GetHKK)
export(GetHRIaluejakokartat)
export(GetHSY)
export(GetLukiot)
export(GetMOTYritystuet)
export(GetMunicipalElectionData2000)
export(GetMunicipalElectionData2004)
export(GetMunicipalElectionData2008)
export(GetMunicipalityInfo)
export(GetMunicipalityInfoMML)
export(GetMunicipalityInfoStatFi)
export(GetOikotie)
export(GetOmakaupunki)
export(GetPXTilastokeskus)
export(GetPalvelukartta)
export(GetParliamentaryElectionData)
export(GetPopulationRegister)
export(GetPostalCodeInfo)
export(GetPresidentti2012)
export(GetProvinceInfo)
export(GetShapeMML)
export(GetStaticmapGoogleMaps)
export(GetThemeMap)
export(GetVaalipiiri)
export(GetWMSlayers)
export(GetWMSraster)
export(GetWorldbankMigration)
export(ListWMSurls)
export(LoadData)
export(LoadMML)
export(LoadWMSurl)
export(MergeSpatial)
export(PlotMatrix)
export(PlotScale)
export(PlotShape)
export(PreprocessPresidentti2012)
export(PreprocessPresidentti2012UserData)
export(PreprocessShapeMML)
export(PreprocessWMS)
export(Presidentti2012CandidateAnswers2Numeric)
export(Presidentti2012ConvertOptionsToNumeric)
export(Presidentti2012GetUserData)
export(Presidentti2012RateChoices)
export(Presidentti2012RetrieveAnswerText)
export(ReadAllCandidates)
export(ReadAllParties)
export(ReadCandidates)
export(ReadDatavaalit)
export(ReadElectionData)
export(ReadParties)
export(ReadShape)
export(SplitSpatial)
export(Strip)
export(UnitScale)
export(dfsort)
export(haeHakusanalla)
export(hetu)
export(is.url)
export(korvaa.skandit)
export(read.px)
export(strstrip)
export(valid.hetu)
export(vwReg)
exportMethods(GetMember)
exportMethods(GetParties)
